# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env
plaid_*_response.txt

# Database
bookkeeping.db
instance/

# Pytest cache
.pytest_cache/

# macOS
.DS_Store

# Gemini CLI
GEMINI.md
.gemini/
/backups
.env

gha-creds-*.json

# Miscellaneous Files
misc/
