{% extends "base.html" %}

{% macro render_account_row(account, level=0) %}
    <tr>
        <td style="padding-left: {{ level * 25 }}px;">{{ account.name }}</td>
        <td class="text-end">{{ "%.2f"|format(account.balance) }}</td>
    </tr>
    {% for child in account.children %}
        {{ render_account_row(child, level + 1) }}
    {% endfor %}
{% endmacro %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Balance Sheet</h1>
        <a href="{{ url_for('export_balance_sheet') }}" class="btn btn-primary">Export to CSV</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2 class="h4">Assets</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th class="text-end">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in asset_data %}
                        {{ render_account_row(account) }}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total Assets</th>
                        <th class="text-end">{{ "%.2f"|format(total_assets) }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <h2 class="h4">Liabilities</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th class="text-end">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in liability_data %}
                        {{ render_account_row(account) }}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total Liabilities</th>
                        <th class="text-end">{{ "%.2f"|format(total_liabilities) }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <h2 class="h4">Equity</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th class="text-end">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in equity_data %}
                        {{ render_account_row(account) }}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total Equity</th>
                        <th class="text-end">{{ "%.2f"|format(total_equity) }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
